# Ignore Python cache and virtual environments
__pycache__/
*.pyc
env/
venv/
*.pkl
*.log

# Ignore Streamlit's cache
.streamlit/
.cache/
models/
Data/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/
